header {
  background-color: rgba(0, 0, 0, 0.342);
}

body {
  height: 100vh;
  width: 100vw;
  /*IF YOU REALLY WANT TO FORCE THE ISSUE*/
}
.All subsequent child {
  position: relative;
  width: 100%;
  height: 100%;
}
.bg {
  background-image: url(../images/weppage/SciTechBackground.png);
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.panel {
  background-color: rgba(0, 26, 75, 0.5);
}
.exodarFont {
  font-family: "exodar-outlineregular";

  color: rgb(255, 255, 255);
}

.resultImage {
  height: 350px;
  width: 350px;
}

.white {
  color: white;
}
